<div *ngIf="loginToggle" class="container">
    <div class="column">
        <div class="row header">
            <h1>Login</h1>
        </div>
        <div class="row input">
            <label for="username">Username:</label>
            <input type="text" placeholder="username">
        </div>
        <div class="row input">
            <label for="password">Password: </label>
            <input type="text" placeholder="password">
        </div>
        <div class="row">
            <button routerLink="/main" class="btn btn-outline-dark mx-2 my-sm-0 login" type="button">Login</button>
        </div>
        <div class="row switch">
            <button (click)= "loginToggler()">Signup here</button>
        </div>
    </div>
</div>
